/* SQL formatting button */
.jstb_sql {
        background-image: url(./../images/bt_sql.png);
}
/* CPP formatting button */
.jstb_cpp {
        background-image: url(./../images/bt_cpp.png);
}
/* IMG size 50% button */
.jstb_imr {
        background-image: url(./../images/bt_imr.png);
}

