/* SQL formatting button */
.jstb_sql {
        background-image: url(bt_sql.png);
}
/* SQL formatting button */
.jstb_cpp {
        background-image: url(bt_cpp.png);
}
/* SQL formatting button */
.jstb_imr {
        background-image: url(bt_imr.png);
}

